GROQ_API_KEY=
MONGODB_URI=
DATABASE_NAME=
GEMINI_API_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
JWT_SECRET_KEY=metrax-super-secret-jwt-key-2026-hackathon-spec
DATABASE_URL=sqlite:////tmp/metrax.db
